.projectsSection {
  height: 800px;
  text-align: center;
  color: white;
  display: inline-block;
  width: 90%;
}

.projectsSection h2 {
  margin: auto;
  vertical-align: middle;
}

.pubgStatsProject {
  background-color: transparent;
  overflow: hidden;
  z-index: -25;
  margin: 10px;

  height: 500px;
  font-family: 'Quicksand', sans-serif;
}
.layerOnProjectPubg {
  background-repeat: no-repeat, repeat;
  background-image: url('../../img/pubgAppDemo.PNG');
  opacity: 0.25;
  height: 770px;
  width: 410px;
  transform: translateX(600px) translateY(-100px) rotate(-40deg) !important;
  display: flex;
  animation: layer;
  animation-duration: 5s;
}
.projectLiveDemoLink a {
  text-decoration: none;
  color: white;
}

.projectLink a {
  color: rgb(255, 208, 0);
  text-decoration: none;
}

.linkhover:hover {
  color: rgb(255, 251, 0) !important;
  transition: all 0.2s ease-in;
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.container {
  overflow: visible !important;
  grid-template-columns: auto;
  background-color: #2196f3;
  display: inline;
}

.item-1 {
  overflow: visible !important;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item-2 {
  overflow: visible !important;
  grid-row-start: 2;
  grid-row-end: 3;
}

@keyframes layer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.2;
  }
}

.pubgStatsProject p {
  position: relative;
  top: -700px;
}

.projectTitle {
  font-size: 20px;
}
.app2 {
  margin: 10px;
  border: 1px white solid;
  height: 500px;
  font-family: 'Quicksand', sans-serif;
}
.app3 {
  margin: 10px;
  border: 1px white solid;
  height: 500px;
  font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width: 1200px) {
  .layerOnProjectPubg {
    transform: translateX(300px) translateY(-100px) rotate(-40deg) !important;
  }
}
@media only screen and (max-width: 1024px) {
  .layerOnProjectPubg {
    transform: translateX(200px) translateY(-100px) rotate(-40deg) !important;
  }
}
@media only screen and (max-width: 648px) {
  .layerOnProjectPubg {
    transform: translateX(200px) rotate(-40deg) !important;
  }
}
@media only screen and (max-width: 411px) {
  .layerOnProjectPubg {
    transform: translateX(100px) rotate(-40deg) !important;
  }
}
