.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.background {
  background-color: #121418;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  animation: heading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  justify-content: center;
}

.App-header {
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.myName {
  font-size: 30px;
}
.title {
  margin: 10px;
  font-size: 20px;
}

.underLine {
  width: 320px;
  height: 2px;
  position: relative;
  background-color: red;
  animation: decorativeLine;
  animation-duration: 2s;
}

@keyframes decorativeLine {
  0% {
    left: -1000px;
  }
  50% {
    left: 0px;
  }
  100% {
  }
}

@keyframes heading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
